<!-- src/app/app.component.html -->
<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">SUBTE</a> <!-- Enlace al inicio de la aplicación -->
  </div>
  <div class="navbar-links">
    <!-- Contenido que se muestra si el usuario NO está logueado -->
    <ng-container *ngIf="!currentUser">
      <a routerLink="/login">Iniciar Sesión</a>
      <a routerLink="/register">Registrarse</a>
    </ng-container>

    <!-- Contenido que se muestra si el usuario SÍ está logueado -->
    <ng-container *ngIf="currentUser">
      <span>Bienvenido, {{ currentUser.usuario.username }} ({{ currentUser.usuario.rol }})</span>
      <!-- Enlaces a dashboards específicos según el rol del usuario -->
      <a *ngIf="currentUser.usuario.rol === 'admin'" routerLink="/admin/dashboard">Admin Dashboard</a>
      <!-- <a *ngIf="currentUser.usuario.rol === 'cliente'" routerLink="/cliente/dashboard">Mi Dashboard</a>
      <a *ngIf="currentUser.usuario.rol === 'supervisor_cocina'" routerLink="/cocina/dashboard">Cocina</a>
      <a *ngIf="currentUser.usuario.rol === 'supervisor_ventas'" routerLink="/ventas/dashboard">Ventas</a>
      <a *ngIf="currentUser.usuario.rol === 'repartidor'" routerLink="/repartidor/dashboard">Repartidor</a> -->
      <!-- Botón para cerrar sesión -->
      <button (click)="logout()">Cerrar Sesión</button>
    </ng-container>
  </div>
</nav>

<div class="container">
  <!-- router-outlet es el marcador donde Angular insertará el componente de la ruta activa -->
  <router-outlet></router-outlet>
</div>