/* src/app/features/auth/register/register.component.css */

/* --- Contenedor Principal y Tipografía --- */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111012;
  /* Fondo principal oscuro */
  color: #e0d0b8;
  /* Color de texto claro */
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.register-container {
  background-color: #1e1d28;
  /* Fondo de la tarjeta */
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 500px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.register-container:hover {
  transform: translateY(-5px);
}

h2,
h3 {
  color: #d97849;
  /* Color de acento */
  text-align: center;
  margin-bottom: 25px;
}

h3 {
  margin-top: 25px;
  border-bottom: 1px solid #4e332a;
  padding-bottom: 10px;
}

/* --- Formulario y Campos --- */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  margin-bottom: 8px;
  color: #b3b7b4;
  font-size: 0.95rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #4e332a;
  border-radius: 9px;
  background-color: #111012;
  color: #e0d0b8;
  outline: none;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus {
  border-color: #d97849;
  box-shadow: 0 0 0 2px rgba(217, 120, 73, 0.5);
}

/* Campos específicos de Cliente */
.specific-fields-section {
  background-color: #111012;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

/* --- Botones --- */
.btn-primary {
  padding: 15px;
  border: none;
  border-radius: 9px;
  background-color: #d97849;
  color: #131214;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.btn-primary:hover {
  background: linear-gradient(to right, #ee8c5d, #e8c69d);
}

/* --- Enlace a Login --- */
p {
  margin-top: 20px;
  color: #b3b7b4;
}

p a {
  color: #d97849;
  text-decoration: none;
  transition: color 0.3s ease;
}

p a:hover {
  color: #e0d0b8;
  text-decoration: underline;
}