<div class="register-container">
  <h2>Registrarse</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Usuario:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" [(ngModel)]="telefono" name="telefono" required>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" [(ngModel)]="apellido" name="apellido" required>
    </div>

    <!-- Campo de selección de Rol -->
    <div class="form-group">
      <label for="rolName">Rol:</label>
      <select id="rolName" [(ngModel)]="rolName" name="rolName" required>
        <option *ngFor="let rol of roles" [value]="rol.nombre">{{ rol.nombre | titlecase }}</option>
      </select>
      <div *ngIf="!rolName && (username || password || email || telefono || nombre || apellido)"
        class="validation-error">
        Por favor, seleccione un rol.
      </div>
    </div>

    <button type="submit" class="btn-primary">Registrar</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div *ngIf="isSuccessful" class="success-message">
      Registro exitoso. Ahora puedes <a routerLink="/login">iniciar sesión</a>.
    </div>
  </form>
  <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia Sesión</a></p>
</div>